body{
    background-color: rgb(128, 225, 225);
    font-family: Fondamento;
}
footer{
    background-color: rgb(27, 139, 139);
    color: rgb(132, 106, 159);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p{
   text-align: center;
   font-size: 0.6rem;
   margin-top: 0.5rem;
}